.headerLogo {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  padding: 17px 0 17px 0;
  overflow: hidden;
  display: flex;
}

.logoCont {
  width: 240px;
  height: 100%;

  .logoImg {
    width: 228px;
    height: 60px;
  }
}
